<main class="all-employees">
		<div class="container">
				<% @employees.each_slice(3) do |employee| %>
				<div class="card-row d-flex justify-content-around py-5">
						<% employee.each do |card| %>
						<div class="card float-left card-shadow justify-content-around" style="width: 22rem;">
								<div class="row my-4 px-5">
										<div class="col-md-5  float-left">
												<img src="<%= image_url 'employee-img.png' %>" class="card-img-top " style="width: 90px; height:auto;" alt="..." />
										</div>
										<div class="col-md-7 pt-4 pl-2 float-right">
												<h5 class="card-text com-md-7 green px-3">
														<%= card.first_name %>
												</h5>
												<h5 class="card-text com-md-7 green px-3">
														<%= card.last_name%>
												</h5>
										</div>
								</div>
								<div class="card-body px-5">
										<a href="/employees/<%= card.id%>">
												<h5 class="card-title">
														<%= card.designation %>
												</h5>
										</a>
										<p class="card-small">
												Birthday:
												<%= card.birth_date %>
										</p>
										<p class="card-small">
												Hiring date:
												<%= card.hiring_date %>
										</p>
										<p class="card-small">
												Salary:
												<%= card.salary %>
										</p>
										<p class="card-small">
												Reports to:
												<% if card.hierarchy.parent != nil %>
												<%= card.hierarchy.parent.name %>
												<% end %>
										</p>
										<p card-small>
												Is supervising:
												<%=card.hierarchy.children.length %> employees
										</p>
										<!--  <ul>
													<%# <%= card.hierarchy.children.each  do |child| %>
	  												<%#	<li><%= child.name %></li>
	  												<%#<% end %>
  											</ul> -->
								</div>
						</div>
						<% end %>
				</div>
				<% end %>
		</div>
</main>