
<div class="col-md-5 show-single">


<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @employee.birth_date %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @employee.designation %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department %>
</p>

<p>
  <strong>Hiring date:</strong>
  <%= @employee.hiring_date %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee.salary %>
</p>

<p>
  <strong>Role:</strong>
  <%= @employee.hierarchy.name %>
</p>


<% if @employee.hierarchy.parent != nil %>

	<p>
  <strong>Reports to:</strong>
  <%= @employee.hierarchy.parent.name %>

</p>

<% end %>


<p>
  <strong>Is supervising :</strong>
 <%= @employee.hierarchy.children.each  do |child| %>

   <%= child.name %>
   <% end %>


</p>


<!--
<p>
  <strong>Is supervising:</strong>
 <%#  <%= @employee.hierarchy.children.name %>
</p> -->

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
</div>