<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hierarchy.name %>
</p>

<% if @hierarchy.parent != nil %>

	<p>
	  <strong>Reports to:</strong>
	  <%=  @hierarchy.parent.name %>
	</p>

<% end %>



<p>
  <strong>Is supervising:</strong>
 <%= @hierarchy.children.each  do |child| %>

   <%= child.name %>
   <% end %>
     <%#  <%= @hierarchy.children.each do |list| %>
    <%#  <% list.name %>
    <%#  <% end %>

</p>

<%= link_to 'Edit', edit_hierarchy_path(@hierarchy) %> |
<%= link_to 'Back', hierarchies_path %>